name: test
on:
  workflow_dispatch:
  push:
    branches:
      - test
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: 'Authenticate to Google Cloud'
        id: auth
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/1052276836905/locations/global/workloadIdentityPools/github-actions-pool/providers/github'
          service_account: 'github-actions-sa@ksst-project-one.iam.gserviceaccount.com'
      
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'
        with:
          version: '>= 379.0.0'

      - name: Auth & Build & Push
        run: |-
          gcloud auth configure-docker asia-northeast1-docker.pkg.dev
          docker build --platform linux/amd64 -t asia-northeast1-docker.pkg.dev/ksst-project-one/my-repository/sample-app-kishi:latest .
          docker push asia-northeast1-docker.pkg.dev/ksst-project-one/my-repository/sample-app-kishi:latest

      - name: Deploy
        run: gcloud run deploy veronica-line-bot --image asia-northeast1-docker.pkg.dev/ksst-project-one/my-repository/sample-app-kishi:latest --platform managed --region asia-northeast1 --allow-unauthenticated --max-instances 1 --memory 512Mi
